.page {
    position : absolute;
    margin-left: 30%;
}

.color-button {
    width: 15vw;
    height: 15vw;
    margin-left: 3%;
    margin-top : 3%;
}

.page-button {
    outline: none;
}

.bottom-bar {
    bottom: -75px;
    position: relative;
    display: flex;
    justify-content: center;
}

.bottom-button {
    outline: none;
    border: none;
    background-color : white;
    font-size : 25px;
    font-weight : normal;
    text-decoration : none;
}

.bottom-selected {
    outline: none;
    border: none;
    background-color : white;
    font-size : 25px;
    font-weight : bold;
    text-decoration : underline;
}

.label-style {
    background-color : white;
    position : absolute;
    padding: 1vw 6.6vw 1vw 1vw;
    width: 7vw;
    height : 2.3vw;
    margin-top : 3vw;
    margin-left : -7.32vw;
    max-width : 100%;
    max-height : 20%;
    border-radius : 0 0 4px 4px;
    font-size: 2vw;
    text-align: left; 
}