.page {
    position : absolute;
    margin-left: 30%;
}

.color-button {
    width: 15vw;
    height: 15vw;
    margin-left: 3%;
    margin-top : 3%;
}

.page-button {
    outline: none;
}

.bottom-bar {
    bottom: -75px;
    position: relative;
    display: flex;
    justify-content: center;
}