.bar {
    height: 100%;
    width: 30%;
    background-color: #a2a6a7;
    position: absolute;
    padding-top: 30px;
    box-shadow: 0 5px 10px 1px rgba(0,0,0,0.4);
}

.rand-button {
    width : 70%;
    margin-left : 15%;
    margin-top : 30px;
    font-size : 20px;
}

.color-link {
    margin-left : 20px;
    display: block;
    color: #33393a;
    text-decoration : none;
    font-size : 20px;
}